/* perfil-usuari.component.scss */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ffffff;
  }
  
  strong {
    color: #007BFF;
  }
  